<div id="box">
    <div id="top">
            <b class="b1">ToDoList</b>
            <input type="text" [(ngModel)]="data" id="inp" (keyup)="add($event)">
    </div>
    
    <div class="box3">
        <b id="b1">正在进行</b><b id="b2">{{toarr.length}}</b><br>
        <ul>
            <li *ngFor="let item of toarr; let i = index">
                <input type="checkbox" (change)="change(item)"><b id="b3">{{item}}</b>——————————————<button (click)="del(i)" id="btn">删除</button>
            </li><br>
        </ul>
    </div><br>
    
</div>
<!-- <app-tolist (tolist)="Tolist($event)" [todata]="tolist"></app-tolist> -->
<app-dolist (dolist)="Dolist($event)" [dodata]="dolist"></app-dolist>