ul li{
    list-style: none;
    float: left;
    width: 40%;
    height: 250px;
    margin: 5%;
    background-color: rgba(144,144,144,0.3);
}
a{
    text-decoration: none;
    color: black;
    margin-top: 100px;
}
img{
    height: 150px;
}